<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Imprenta Express</title>
        <link href="./favicon.ico" type="image/x-icon" rel="icon">
        <link href="./favicon.ico" type="image/x-icon" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="./css/jquery/flick/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/imprenta.css">
        <link rel="stylesheet" type="text/css" href="./css/jqueryui-editable.css">
        <script type="text/javascript" src="./js/third/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="./js/third/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="./js/third/underscore.js"></script>
        <script type="text/javascript" src="./js/third/sprintf.min.js"></script>
        <script type="text/javascript" src="./js/utils.js"></script>
        <script type="text/javascript" src="./js/layout.js"></script>
        <script type="text/javascript" src="./js/notification_center.js"></script>
        <script type="text/javascript" src="./js/third/jqueryui-editable.min.js"></script>
        <script>
            var BASE_URL = "/";
        </script>
        <style type="text/css">
          * {font-size: 18px;}
        </style>
    </head>
    <body style="">
        <div id="container">
            <div class="jumbotron">
                <p class="mb-0">Este es un Index provicional para poder mostrar los distintos elementos.</p>
                <footer class="blockquote-footer">Solo para efectos de prueba</footer>
            </div>

            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="login.html">Vista del Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cliente.html">Vista de Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="detalle.html">Vista de Detalle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ordenes.html">Vista de Órdenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="produccion.html">Vista de Producción</a>
              </li>
            </ul>
        </div>
    </body>
</html>
